:root {
  --primary: #455a64;
  --secondary: #00bfa5;
  --border-left : 5px solid #00BCD4;
  --anchor :#00e5ff;
  --body-background : #F0F0F0;
  --shadow : 0px 2px 2px grey;
}

body {
  background-color: var(--body-background);
}

#cv{
  display: none;
}

main {
  margin-top: 20px;
}

.progress-bar-striped, .progress {
  height: 10px;
}

.title {
  color: var(--secondary);
}

.card-panel {
  border-radius: 2px;
  box-shadow: var(--shadow);
  padding: 15px;
  margin-bottom: 15px;
  border-left: var(--border-left);
  background-color: white;
}

.description {
  background-color: var(--primary);
  font-size: 1.1rem;
}

.description a {
  color: var(--anchor);

  text-decoration: none;
}

.description a:hover {
  color: white;
}

.description p {
  text-align: justify;
}

.description ul {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
}

.corpus {
  font-size: 1.1rem;
}

.corpus ul {
  list-style-type: none;
}

.card-panel {
  -webkit-transition: box-shadow 400ms ease;
  -moz-transition: box-shadow 400ms ease;
  -ms-transition: box-shadow 400ms ease;
  -o-transition: box-shadow 400ms ease;
  transition: box-shadow 400ms ease;
}

.card-panel:hover {
  box-shadow: 0px 6px 6px grey;
}

@media print {
  body {
    background-color: white;
  }

  #cv{
    display: block;
  }

  #pdf{
    display: none;
  }
  
}